
body, html {
    /* background-color: #16161a;
    background-image: linear-gradient(209deg, #16161a 34%, #7f5af0 60%, #fffffe 78%, #94a1b2 97%); */

    background-color: #f4abca;
    background-image: linear-gradient(180deg, #f4abca 0%, #595b83 33%, #000c24 66%, #060930 100%);

    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  .files input {
    outline: 2px dashed #ECE7EC;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #ECE7EC;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #ECE7EC;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 30px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}


.color input{ background-color:#EAD5EA;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 50px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #000C24;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.center {
    position: absolute;
    left: 72%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border: 5px solid #FFFF00; */
    padding: 10px;
    }

.add-task{
 
    /* background-position: center center; */
    /* background-color: rgb(194,125,252,0.3); */
    background-color: rgb(89,91,131,0.3);
    /* background-size: cover;  */
  }

  .button-clr{
    background-color:#D9AFD9; /* Green */
    transition-duration: 0.4s;
    color:black;
    border-radius: 12px;
    /* padding: 12px 28px; */
  }

  .nav-style{
    font-size: 120%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-display: "block";
      font-weight: 800;
      color: white;
  }