<!DOCTYPE html>
<html lang="en">

<head>
    <title>project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"
        href="https://st.depositphotos.com/1368414/3476/i/600/depositphotos_34768023-stock-photo-reach-out.jpg"
        type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="pg.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>

<body>

      <!----NAV_BAR-->
      <nav class="navbar navbar-expand-sm navbar-dark navbaar justify-content-center nav-style">
        <ul class="navbar-nav"> 
          <li class="nav-item">
            <a class="nav-link py-0 text-dark" href="#">EMAIL DRAFTING</a>
          </li>
        </ul>  
      </nav>

       
    

      <div class="container center">
        <div class="row">
          <div class="col-md-6 add-task">
              <form method="post" action="#" id="#">
                  <div class="form-group files">
                    <br>
                    <label class="text-light">Upload Your File </label>
                    <input type="file" class="form-control" multiple="">
                  </div>

                  <div class="form-group">
                    <label for="comment" class="text-light">Text Message</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                  </div>
        
                <!-- Submit button -->
                <div class="text-center">
                  <button type="submit" class="btn btn-light mb-4 button-clr">SEND</button>
                  </div>
              </form>
              
              
          </div>
        </div>
    </div>
    
  








        

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>